.search-form {
    margin-bottom: 20px;
}

.load-more {
  margin-top: 20px;
  display: block;
  margin-bottom: 20px;
}
.is-hidden {
  visibility: hidden;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}
.photo-card {
  display: flex;
  flex-direction: column;
  margin-right:20px;
}
.img {
  width: auto;
  height: 300px;
}
.info {
  display: flex;
}
.info-item {
  margin-right: 10px;
}